<form class="ttb-actors sheet item" autocomplete="off">
  <header class="ttb-actors-header sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="ttb-actors-header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" /></h1>
      <div class="ttb-actors-header-details">
        <label>Type</label><span style="color:var(--ttb-gold)">Armor</span>
      </div>
    </div>
  </header>
  <section class="ttb-item-body">
    <div class="ttb-item-fields">
      <label>Defense Bonus</label>
      <input type="number" name="system.defenseBonus" value="{{system.defenseBonus}}" min="0" />
      <label>Soak (Armor +X)</label>
      <input type="number" name="system.soak" value="{{system.soak}}" min="0" placeholder="Damage reduction" />
      <label>Cost (Scrip)</label>
      <input type="number" name="system.cost" value="{{system.cost}}" min="0" />
      <label>Equipped</label>
      <input type="checkbox" name="system.equipped" {{#if system.equipped}}checked{{/if}} />
    </div>
    <div class="ttb-item-text-section">
      <label>Special Rules</label>
      <textarea name="system.special" rows="2" placeholder="Special properties...">{{system.special}}</textarea>
    </div>
    <div class="ttb-item-text-section">
      <label>Description</label>
      <textarea name="system.description" rows="3" placeholder="Item description or lore...">{{system.description}}</textarea>
    </div>
  </section>
</form>
